{% extends "base.html.twig" %}

{% block title %}Create Product{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <h1>Create new product</h1>
    {% include 'Product/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}