{% extends "base.html.twig" %}

{% block title %}Modify {{ product.name }} for {{ product.client.name }}{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <h1>Modify PRODUCT</h1>
    {% include 'Product/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}