{% extends "base.html.twig" %}

{% block title %}Create Campaign{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <h1>Create campaign</h1>
    {% include 'Campaign/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}