{% extends "base.html.twig" %}

{% block title %}Modify {{ campaign.name }}{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <h1>Modify Campaign: {{ campaign.name }}</h1>
    {% include 'Campaign/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}