{% extends "base.html.twig" %}

{% block title %}Create Client{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
<h1>Create new client</h1>
    {% include 'Client/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}