{% extends "base.html.twig" %}

{% block title %}Modify {{ client.name }}{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <h1>Modifying {{ client.name }}</h1>
    {% include 'Client/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}