{% extends "base.html.twig" %}

{% block title %}Create Service Provider{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <h1>Create new provider</h1>
    {% include 'ServiceProvider/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}