{% extends "base.html.twig" %}

{% block title %}Modify {{ provider.provider }}{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <h1>Modify {{ provider.provider }} </h1>
    {% include 'ServiceProvider/_form.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}