{% extends "base.html.twig" %}

{% block title %}AppBundle:Report:getFinishedCampaignsForClient{% endblock %}

{% block body %}
<h1>Welcome to the Report:getFinishedCampaignsForClient page</h1>
{% endblock %}
